/* code is written in order of sections of the page from top to bottom
project colors:
#f0f0dd text color links button
#f5f0e6 larg scale menu bg
#591013 text links(large scale) button bg covid banner
#262626 footer
#32281c hover media queries(link text color)
font-family(already linked in head section of index.html
font-family: 
'Open Sans', sans-serif; font-family: 

hero image font
font-family: 'Anton', sans-serif;
    

no need for @font-face
*/

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: ;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

/* .................................header section */

/* header to be fixed and styled at very top at 999 z-index */
#header__heading-covid--fixed {
  position: fixed;
  z-index: 999;
  height: 2.5rem;
  width: 100%;
  background: #262626;
}

h1.header-covid-heading {
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: 0.001rem;
  line-height: 2.5rem;
  text-align: center;
}

h1.header-covid-heading a {
  color: #f0f0dd;
  text-decoration: none;
}

h1.header-covid-heading a:hover {
  text-decoration: underline;
}

.hide-covid {
  display: block;
}

/* x covid icon */
/* h1.header-covid-heading .header_close-icon {
      padding-left: 1rem;
  } */

/* .............LOGO div container for mobile veiwing below 
  needs
  covid section at 998, given flex, needs box shadow */
div#primary-nav-eTutors-logo {
  position: fixed;
  z-index: 998;
  background: rgb(248, 248, 248);
  width: 100%;
  height: 23rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

img.primary-nav-logo {
  /* position: relative; */
  z-index: 998;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

/* ...............nav section below logo image at 997 z-index begins here */

/* nav__primary  */
nav#nav__primary {
  position: relative;
  z-index: 997;
  top: 24.5rem;
}

ul.primary-nav-flex-container {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.9rem;
  }


 
  
  .primary-nav-flex-container li {
      padding-bottom: 2rem;
      padding-top: 2rem;
      border-bottom: .01px solid #aaa;
      background: #591013;
      
  }


  ul.primary-nav-flex-container li ul.primary-nav-about-sub {
      list-style: none;
    position: relative;
    top:2.3rem;
    background: rgb(248, 248, 248);
    display: none;
  }



   ul.primary-nav-flex-container li:hover ul.primary-nav-about-sub {
    display:block;
  }
  
  


   ul.primary-nav-flex-container li ul.primary-nav-about-sub li {
       display: block;
    background: rgb(248, 248, 248);
  }


    ul.primary-nav-flex-container li ul.primary-nav-about-sub li a {
       color: #591013;
  }



     ul.primary-nav-flex-container li ul.primary-nav-about-sub li a:hover {
       color: grey;
  }




  
  ul.primary-nav-flex-container li a {
      text-decoration: none;
      color: #f0f0dd;
      
  }
  
  
  ul.primary-nav-flex-container li a:visited {
      text-decoration: none;
      color: #f0f0dd;
      
  }
  
  
  ul.primary-nav-flex-container li a:hover {
      color: #f0f0dd;
      
  }


  /* mobile only about sub menu arrow icon  */
  .arrow-icon {
      position: relative;
      top: 0;
       color: rgb(248, 244, 244);
      margin-left: 1rem;
  }
  
  
  button.volunteer-mobile {
   margin-top: 1.2rem;
   padding: 1.2rem 2rem;
   margin-left: 50%;
   transform: translatex(-50%);
   background: #591013;
   border: none;
   border-radius: .5rem;
   color: #f0f0dd;
   font-weight: 700;
   font-size: 1.8rem;
  }


   button.volunteer-mobile:hover {
    background: #262626;
    border: none;
  }


    button.volunteer-mobile:active {
    background: grey;
    color: yellow;
    border: none;
  }
  
  button.volunteer {
      display: none;
  }
  
  /* hero image  */
  div.imgHome-hero {
      position: relative;
      top: 24.5rem;
      width: 100%;
      height: 35rem;
      background-image: url("https://images.unsplash.com/photo-1584697964328-b1e7f63dca95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
      background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .imgHome-hero h2 {
      font-family: 'Anton', sans-serif;
      font-size: 2.4rem;
      color: #f0f0dd;
      text-align: center;
      padding-top: 18rem;
      letter-spacing: .5rem;
      transition: .800s ease-in-out;
  }



    .imgHome-hero-contact-jg {
          position: relative;
    z-index: 995;
    top: 22.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
  }


  div.imgHome-hero-contact-jg h2 {
      font-family: 'Anton', sans-serif;
      font-size: 2.6rem;
      color: #262626;
      height: 45rem;
      font-weight: 900;
     padding-top: 15rem;
      letter-spacing: .5rem;
      text-align: center;
      transition: .800s ease-in-out;
      background: radial-gradient(circle 208px, white, transparent);
  }



  .imgHome-hero-tutoring-services-jg {
    position: relative;
    z-index: 995;
    top: 22.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://images.pexels.com/photos/4261789/pexels-photo-4261789.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
  }


  .imgHome-hero-tutoring-services-jg h2 {
       font-family: 'Anton', sans-serif;
      font-size: 2.4rem;
      color: #262626;
      font-weight: 900;
      background: rgba(255, 255, 255, 0.39);
      padding: 4rem 4rem 2rem 4rem;
      letter-spacing: .1rem;
      text-align: center;
      transition: .800s ease-in-out;
  }


  .imgHome-hero-volunteer-jg {
    position: relative;
    z-index: 995;
    top: 22.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://www.businessinsider.com/~~/f?id=4a03277e14b9b929000ba9ff");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
  }


    .imgHome-hero-volunteer-jg h2 {
       font-family: 'Anton', sans-serif;
      font-size: 2.4rem;
      color: #262626;
      font-weight: 900;
      padding: 20rem 4rem 2rem 4rem;
      letter-spacing: .1rem;
      text-align: center;
      transition: .800s ease-in-out;
  }
  
  /* .......................main section begins here */
  
  /* just padded at top to position below hero image */
  .main__section {
      padding-top: 26rem;
      padding-bottom: 8rem;
  }


  .main__section-contact-jg {
      padding-top: 10rem;
      padding-bottom: 8rem;
  }


  .main__section-tutoring-services-jg {
      padding-top: 15rem;
      padding-bottom: 8rem;
  }
  
  
  h2.main_page-section-heading {
    font-size: 2.4rem;
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
  }
  
  h3.main_page-section-heading {
    font-size: 1.6rem;
    text-align: center;
    padding-bottom:4rem;
  }


  .main_page-section-heading-contact-jg {
      font-size: 2.6rem;
    padding: 15rem 2rem .1rem 2rem;
    text-align: center;
  }


  h2.contact-h2-jg {
    padding-top: 33rem;
  }



   .girl-para-flex-container-jg {
      display: none;
   
  }

  .computer-girl-background-jg {
      display: none;
  }

  .gameBased-Learning-sec-jg {
    display: none;
  }

  .game-learning-ben-flex-container-jg {
    display: none;
  }

  .contactPage-h3-jg {
      font-size: 1.6rem;
      text-align: center;
      font-weight: normal;
      padding-top: 0;
      margin-top: 0;
  }



  
  hr {
      display: none;
  }
  
  
  hr.main_para-hr-bottom {
    display: none;
  }



   hr.contact-jg {
      top: 2.5rem;
      width: 75%;
       margin-left: auto;
      margin-right: auto;
  }


  

  hr.main_para-hr-bottom-contact-jg {
      top: .5rem;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
  }



/* Tutoring services section snippet */




img.tutoringPage-image-jg {
  height: 20rem;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.tutoring-top-title-scaled-jg {
  display: none;
}

.tutoring-services-h3-scaled-jg {
  display: none;
}


h2.tutoring-top-title-jg {
font-size: 2.6rem;
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;
    letter-spacing: .5rem;
}


  .tutoring-services-h3 {
      font-size: 1.9rem;
      padding-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
  }


 
  img.tut-twentyYear-image-jg {
    display: block;
    height: 8rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;

  }

.tutoring-services-para-jg {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 3rem 2rem 1rem 2rem;
  text-align: justify;
}

  .tutoring-services-text-wrapper {
    margin:2rem 0;
  }

  .tutoring-services-image-flex-container {
      display: flex;
      /* margin-left: 50%;
      transform: translatex(-50%); */
      flex-flow: row wrap;
      justify-content: space-around;
      position: relative;
      top: 10rem;
      width: 100%;
      padding-bottom: 20rem;

  }

.tutoring-image-flex-item {
    height: 8rem;
    width: 8.5rem;
    border-radius: .5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    
}


.tutoring-services-flexed-h3 {
    position: relative;
    color: #262626;
    margin: 1rem 3rem;
    border-bottom: .1rem solid rgb(170, 170, 182);
    padding-bottom: 1rem;
}




.tutoring-services-para {
    margin: 0 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
}


.tutPage-but-scaled-jg {
  display: none;
}


button.tutPage-but-jg {
    font-size: 1.6rem;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translatex(-50%);
    border-radius: 1rem;
    background: #353a40;
    font-weight: bold;
    color: white;
    border: .1rem solid white;
    width: 25rem;
}


button.tutPage-but-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}

button.tutPage-but-jg:active {
    background: grey;
    transition: .300s ease-in-out;
    color: white;
}



.find-your-tutor-jg {
    margin-bottom: 5rem;
     color: #591013;
     font-weight: bold;
}



a.find-your-tutor-jg a {
    color: white;
    text-decoration: none;
}


.find-your-tutor-jg:hover {
    text-decoration: none;
    transition: .350s ease-in-out;
}


.skew-container{
    background: #eee;
    height: 20rem;
}
.tutoring-services-sponsers-container {
  position: relative;
  z-index: -1;
  top:-10rem;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: #eee;
    height: 25rem;
    transform: skewy(-6deg);
    transform-origin: top left;
}



  p.main_home-par-tutoring-jg {
    line-height: 4rem;
  }


  .Choose-tutor-sec-flex-container-jg {
    padding: 1rem 2rem 2rem 2rem;

  }

.choose-tutor-title-jg {
  margin-top: 2rem;
  font-size: 2.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;

}

.eTutors-check-jg {
  height: 3rem;
  vertical-align: middle;
  padding-right: .5rem;
}

.choose-tutor-para-jg {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
}




/* end tutoring page section snippet */








  .contact-woman-jg {
    display: none;
}
  

  .main_kid-on-floor-image {
      display: none;
  }
  
  .main_para-home {
      background: #f3f3f3;
      margin-top: 3rem;
      padding: 3rem 2rem 3rem 2rem;
  }
  
  
  h3.main-para-home-heading {
      font-size: 1.8rem;
      padding: 2rem 0 1rem 0;
     
  }
  
  
  .main_para-home p {
      font-size: 1.6rem;
      padding: 0 0 2rem 0;
      
  }



 .line-height-main-home-para-jg {
    line-height: 4rem;
  }



    .main_para-contact-jg {
        width: 75%;
      background: #f3f3f3;
      margin-top: 3rem;
      margin-left: auto;
      margin-right: auto;
      padding: 2.5rem 2rem 3rem 2rem;
  }



    h3.main-para-contact-heading-jg {
      font-size: 1.8rem;
      padding: 1rem 2rem 1rem 2rem;
      text-align: center;
     
  }



   .main_para-contact-jg p {
      font-size: 1.6rem;
      padding: 0 2rem 2rem 2rem;
      text-align: center;
      
  }




  .homeFun-lightBulb-icon {
    display: none;
  }

  .home-girl-bg-jg {
    display: none;
  }


  .home-girl-largerScreen-jg {
    display: none;
  }


  .homeFun-the-role-style-jg {
    display: block;
    font-size: 2.4rem;
    margin-top: 5rem;
    padding: 2rem 2rem 3rem 2rem;
    text-align: center;
  }

  .girl-heading-text-jg {
    display: none;
  }


  .homeFun-the-role-para-jg {
    display: block;
    font-size: 1.6rem;
    line-height: 4rem;
    padding: 4rem 2rem 0 2rem;
    background: white;
  }

  .girl-text-jg {
    background: white;
  }


  div.home-girl-computer-container-jg {
    position: relative;
    width: 100%;
  }



  img.home-girl-computer-jg {
    display: block;
    width: 30rem;
    height: 27rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
   
  }


    /* .home-girl-computer-after-jg {
      background: rgb(43, 9, 107);
      height: 1.5rem;
      width: 30rem;
      margin-left: auto;
      margin-right: auto;
   
  } */


  .container-but-jg {
    display: none;
  }


  .home-game-learn-title-jg {
    font-size: 2.4rem;
    margin-top: 2.5rem;
    padding: 0 2rem 1rem 2rem;
  }


  .home-game-learning-para {
    font-size: 1.6rem;
    padding: 1rem 2rem 1rem 2rem;
    line-height: 4rem;
  }

  .home-arrow-jg {
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
  }

  .contact-map-jg {
      display: none;
  }


  

  .contactForm-h2-jg {
      padding-top: 5rem;
      padding-bottom: 1rem;
      font-weight: 900;
  }

  .contact-how-can-we-help-para-jg {
      font-size: 1.2rem;
      margin-top: 0;
      padding-top: 0;
  }


  .contact-form-container-jg {
      width: 75%;
   margin-left: auto;
   margin-right: auto;
  }


  form.contact-form-jg {
    width: 100%;
    margin-top: 1rem;
  }


  .contact-input-jg {
    padding: 1rem;
    width: 100%;
    margin-bottom: .8rem;

  }

  


  .input-subject-jg {
      width: 100%;
      margin-bottom: .8rem;
  }

  textarea#contact-messageInput-jg {
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
         width:100%;
      resize: vertical;
      max-height: 300px;
      min-height:100px;
  }


   input.contact-submit-jg {
   margin-top: 1.2rem;
   padding: 1.2rem 2rem;
    border: none;
   background:#262626;
   border-radius: .5rem;
   color: #dfdfdf;
   font-weight: bold;
   font-size: 1.6rem;
   text-align: center;
   width: 100%;
   letter-spacing: .1rem;
  }


   input.contact-submit-jg:hover {
    background: #591013;
    color: white;
    transition: .200s ease-in-out;
   
  }
 
 
  .main-sec-icon {
      position: relative;
      z-index: 996;
      top:5.5rem;
      margin-left: 50%;
      transform: translatex(-50%);
      border: .01px solid rgb(116, 116, 116);
    background: rgb(207, 207, 207);
      padding: 1.5rem;
      border-radius: 50%;
      font-size: 2.8rem;
      color: rgb(75, 75, 75);
  }




  img.home-brain-jg {
     width: 10rem;
     position: absolute;
     top: -7rem;
     left: 0;
     right: 0;
     margin-right: auto;
     margin-left: auto;
     background: #eee;
     border-radius: 50%;
  }

  
div.background-paper {
  width: 90%;
  height: 90%;
  background: #eee;
  border: 2px solid rgb(228, 226, 226);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  /* margin-top: 2rem; */
  border-radius: 2rem;
  padding-bottom: 0;
  
}

/* scaled eureka image hidden */
img.eureka-corner-image-scaled {
  display: none;
}

img.eureka-corner-image {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

div.eTutors-gameTitle-container {
  position: relative;
     
}

.main_page-section-heading-two-jg {
      text-align: center;
      font-size: 2.4rem;
      color: #000000;
      padding: 4rem 5rem .5rem 5rem;
  }
  


  h3.eTutots-game-subTitle-jg {
      text-align: center;
      padding-bottom: 2.5rem;
      padding-top: 0rem;
      font-size: 1.8rem;
      padding-right: 1rem;
      padding-left: 1rem;
      color: #591013;
      font-weight: normal;
  }
  
  .main_images-flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding: 0;

  }


  
  
  .main_flex-image-text-wrapper p {
     
      width: 215px;
      font-size:1.5rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-weight: bold;
      color: #262626;
  }
  
  .main_flex-image-text-wrapper h3 {
      padding-bottom: 1.5rem;
    text-align:center;
  }

  
  .main_flex-image-text-wrapper {
    /* width: 100%; */
    padding: 2rem;
  }

  img.main_img-tutor-network-item {
    display: block;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }

.main_images-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.main_flex-image-text-wrapper p {
  width: 215px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-weight: bold;
  color: #262626;
}

button.start-game-jg {
    padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 1rem;
    border-radius: 1rem;
     background: #353a40;
     color: white;
     border: .1rem solid white;
     margin-left: 50%;
     transform: translatex(-50%);
     width: 100%;
}


button.start-game-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}


  
  /* ........................footer section begins here */
  #footer__section {
      /* height: 40rem; */
      width: 100%;
      padding-top: 2rem;
      background: #262626;
  }
  
  
  img.footer_logo {
      height: 5rem;
      display: none;
  
  }


  .skew-home-new-jg {
      background: grey;
      height: 25rem;
      width: 100%;
      position: absolute;
      z-index: -1;
      top: 111.5rem;
  }
  
  
  .footer_logo-address-container {
      display: none;
  }
  
  
  h2.footer_quicklinks-heading {
      color: #f0f0dd;
      font-size: 2rem;
      width: 100%;
      text-align: center;
      margin-top: 3rem;
  }
  
  
  
  ul.footer-quicklinks-flex-container{
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      /* margin-left: auto;
      margin-right: auto; */
  text-align: center;
}

ul.footer-quicklinks-flex-container {
  list-style: none;
}

ul.footer-quicklinks-flex-container li {
  font-size: 1.4rem;
  padding: 1rem 2rem 1rem 2rem;
}

ul.footer-quicklinks-flex-container li a {
  color: #f0f0dd;
  text-decoration: none;
}

ul.footer-quicklinks-flex-container li a:hover {
  color: grey;
}

ul li.quick-links-flex-item {
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 50%;
}

h2.footer-followUs-heading {
  font-size: 2rem;
  color: #f0f0dd;
  width: 100%;
  text-align: center;
  padding-top: 3rem;
  margin-top: 0;
}

.footer_social-media {
  height: 8rem;
  width: 100%;
  text-align: center;
}

.soc-icons {
  color: #f0f0dd;
  font-size: 2.5rem;
  padding: 4.5rem 2rem;
}

.footer_social-media .soc-icons:hover {
  color: #f0f0dd;
  color: grey;
}

div.footer_copyright-container {
  padding: 2.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #f0f0dd;
}

/*---------------------------Resources Page------------*/

div.img-resources-hero {
  position: relative;
  top: 10.5rem;
  width: 100%;
  height: 35rem;
  background-image: url("https://images.pexels.com/photos/4145190/pexels-photo-4145190.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: gray;
  background-size: cover;
  background-repeat: "no-repeat";
}

.img-resources-hero h2 {
  font-family: "Anton", sans-serif;
  font-size: 2.4rem;
  color: #f0f0dd;
  text-align: center;
  padding-top: 18rem;
  letter-spacing: 0.5rem;
  transition: 0.8s ease-in-out;
}

.resources_main-section-rr {
  padding-top: 10rem;
  padding-bottom: 8rem;
}

hr.resources_hr-rr {
  display: block;
  position: relative;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 1.25rem;
}

hr.resources_hr-bottom {
  display: block;
  position: relative;
  border-style: inset;
  border-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0.5rem;
}

.resources_icon {
  position: relative;
  z-index: 996;
  top: 5.5rem;
  margin-left: 50%;
  transform: translatex(-50%);
  border: 0.01px solid rgb(116, 116, 116);
  background: rgb(207, 207, 207);
  padding: 1.5rem;
  border-radius: 50rem;
  font-size: 3rem;
  color: rgb(75, 75, 75);
}

.resources_main-para-rr {
  background: #f3f3f3;
  margin-top: 3rem;
  margin: 30px;
  padding: 3rem 2rem 3rem 2rem;
}

.resources_main-text-rr {
  font-size: 1.6rem;
  padding: 0.5rem;
}

.resources_main-para-rr h3 {
  padding-bottom: 0.6rem;
  text-align: center;
}

.resources_main-para-rr ul {
  font-size: 1.6rem;
  margin-left: 3rem;
}

.resources_main-para-rr li {
  padding: 0.5rem;
}

#resources_wrapper-rr {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 1.6rem;
}

.resources_section-heading-rr {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  margin-right: 1.9rem;
}

.resources_section-heading-rr p {
  text-align: center;
}

.resources_image-wrap {
  display: block;
  justify-content: center;
  height: 30rem;
  width: auto;
  margin-left: 1.9rem;
  border-radius: 0.625rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.resources_image-text-wrap {
  font-size: 2.4rem;
  color: #000000;
  text-align: center;
  letter-spacing: 0.5rem;
  transition: 0.8s ease-in-out;
}

.resources_accordian-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1.9rem;
}

.resources_accordian-content h4 {
  text-align: center;
}

/*Style the accordian content*/

.collapsible {
  padding-top: 10rem;
  background-color: #f3f3f3;
  color: black;
  cursor: pointer;
  padding: 1.125rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.6rem;
}


/* active style added with JS, add background color */
.active, 
.collapsible:hover {
  background-color: #ccc;
}

button.collapsible:hover {
  background-color: #f5f0e6;
}

/*the styles for the collapsible content */

.resources_content {
  /* line-height: 2;     */
  padding: 3rem 2rem 3rem 2rem;
  display: none;
  overflow: hidden;
  background-color: #f3f3f3;
  font-size: 1.6rem;
  text-decoration: none;
}

.resources_main-para {
  background: #f3f3f3;
  padding: 3rem 2rem 3rem 2rem;
}

.resources_main-para p {
  font-size: 1.6rem;
  padding: 0 2rem 2rem 2rem;
}

/*----------------------------------------MISSION starts here-----------*/

/*place holder, feel free to change around */

.main__section-contact-rr{
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.imgMission-hero-rr {
  position: relative;
  top: 12.5rem;
  width: 100%;
  height: 35rem;
  background-image: url("https://images.pexels.com/photos/4143793/pexels-photo-4143793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: gray;
  background-size: cover;
  background-repeat: "no-repeat";
}


.imgMission-hero-rr h2 {
  font-family: "Anton", sans-serif;
  font-size: 2.4rem;
  color: #f0f0dd;
  text-align: center;
  padding-top: 18rem;
  letter-spacing: 0.5rem;
  transition: 0.8s ease-in-out;
}

.main_mission-wrapper {
  padding-top: 13rem;
  padding-bottom: 8rem;
  margin: 
}

.mission_icon {
  position: relative;
  z-index: 996;
  margin-left: 50%;
  transform: translatex(-50%);
  border: 0.01px solid rgb(116, 116, 116);
  background: rgb(207, 207, 207);
  padding: 1.5rem;
  border-radius: 50rem;
  font-size: 3rem;
  color: rgb(75, 75, 75);
}

.mission_main-para {
  margin:1.2rem;
  background: #f3f3f3;
  padding: 3rem 2rem 3rem 2rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mission_main-para p {
  font-size: 1.6rem;
  padding: 0 2rem 2rem 2rem;
}

.mission_main-para ul {
  font-size: 1.6rem;
  padding: 0 2rem 2rem 2rem;
}




/* volunteer page snippet */

.main__volunteer-heading-jg {
  font-size: 2.6rem;
    padding: 10rem 2rem .1rem 2rem;
    text-align: center;
}

.volunteer-subTitle-h3 {
      font-size: 1.7rem;
      padding-top: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: center;
      font-weight: normal;
  }

.vol-but-container-top-jg {
  position: relative;
  height: 13rem;
}
button.volunteerPage-but-jg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
    border-radius: 1rem;
     background: #353a40;
     color: white;
     border: .1rem solid white;
     width: 25rem;
}


button.volunteerPage-but-jg a {
  color: white;
  text-decoration: none;
}


button.volunteerPage-but-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}

button.volunteerPage-but-jg:active {
    background: grey;
    transition: .300s ease-in-out;
    color: white;
}


.volPage-hr-jg {
  display: block;
}

.vol-hr-half-jg {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}



h2.volunteer-top-title-jg {
  color: #591013;
  padding: 5rem 2rem .5rem 2rem;
  text-align: center;
}


.volunteerPage-h3-jg {
  padding: 5rem 2rem 1rem 2rem;
}

p.volunteerPage-para-jg {
  font-size: 1.6rem;
  padding: 0 2rem 5rem 2rem;
  line-height: 3rem;
}

.volunteer-top-para-jg {
  text-align: center;
}


.volunteerPage-signUp-butToo-jg {
   font-size: 1.6rem;
  padding: 2rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    border-radius: 1rem;
     background: #353a40;
     color: white;
     border: .1rem solid white;
     margin-left: 2rem;
     width: 25rem;
}


button.volunteerPage-signUp-butToo-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}

button.volunteerPage-signUp-butToo-jg:active {
    background: grey;
    transition: .300s ease-in-out;
    color: white;
}

.voluteer-signUpIcon-title-conatiner-jg {
  background: none;
}
h2.volunteerPage-title-jg {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  color: #591013;
  padding: 1rem 2rem 2rem 2rem;
}

.voluteerSignUp-icon-jg {
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

.volunteer-name-to-email-input-container-jg {
  /* width: 95%; */
  margin: 2rem;
}


label.volunteer-formLabels-jg {
  display: block;
  font-size: 1.6rem;
  padding: 2rem .5rem .5rem 0;
}



.volunteer-contact-input-container-jg {
  display: flex;
  max-width: 65rem;
}

.volunteer-contact-inputs-jg {
  padding: 1rem;
  width:50%;

}

input.volunteer-email-input-jg {
  display: block;
   padding: 1rem;
    width: 100%;
    margin-bottom: .8rem;
}

.voluteerPage-formTitle-iAmCurr-jg {
  padding: 4rem 2rem 0 2rem;
  font-size: 1.8rem;
}


.voluteer-form-select-para-jg {
  font-size: 1.3rem;
  padding: .5rem 2rem 2rem 2rem;
}


.volunteer-checkboxes-jg {
  margin-left: 4rem;
}

.volunteer-checkboxes-para-jg {
  font-size: 1.6rem;
  display: inline-block;
}

.volutneer-status-checkboxes-jg {
    font-size: 1.6rem;
  display: inline-block;
}


h3.vol-textArea-title-jg {
  padding-bottom: 2rem;
  margin-right: 0;
  padding-left: 0;
}

 

div.volunteer-textArea-title-container {
  /* width: 95%; */
  margin-left: 2rem;
  margin-right: 2rem;
}


textarea#volunteer-comment-input-jg {
  display: block;
    width:100%;
    resize: vertical;
    max-height: 300px;
    min-height:100px;
    max-width: 65rem;
    

}


.volunteer-referralFeild-input-jg {
  /* margin-left: 2rem; */
  padding: 1rem;
}