/* code is written in order of sections of the page from top to bottom
project colors:
#f0f0dd text color links button
#f5f0e6 larg scale menu bg
#591013 text links(large scale) button bg covid banner
#262626 footer
#32281c hover media queries(link text color)
font-family(already linked in head section of index.html
font-family: 
'Open Sans', sans-serif; font-family: 

hero image font
font-family: 'Anton', sans-serif;
    

no need for @font-face
*/




html {
    box-sizing: border-box;
    
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html {
      font-size: 62.5%;
      min-height: 100%;
      width: 100%;
      
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  
  h1, h2, h3 {
      font-family: 'Open Sans', sans-serif
  }

  h1 {
      font-size: 3.8rem;
  }

  h2 {
      font-size: 2.4rem;
  }
  
  h3 {
      font-size: 2.0rem;
  }

  
  /* .................................header section */
  
  /* header to be fixed and styled at very top at 999 z-index */
  #header__heading-covid--fixed {
      position: fixed;
      z-index: 999;
      height: 2.5rem;
      width: 100%;
      background: #787878;
  }
  
  h1.header-covid-heading {
      font-size: 1.1rem;
      font-weight: normal;
      letter-spacing: .001rem;
      line-height: 2.5rem;
      text-align: center;
  
  }
  
  h1.header-covid-heading a {
      color: #f0f0dd;
      text-decoration: none;
  }
  
  
  h1.header-covid-heading a:hover {
      text-decoration: underline;
  }
  
  
  .hide-covid {
      display: block;
  }
  
  /* x covid icon */
  /* h1.header-covid-heading .header_close-icon {
      padding-left: 1rem;
  } */
  
  
  
  
  
  /* .............LOGO div container for mobile veiwing below 
  needs
  covid section at 998, given flex, needs box shadow */
  div#primary-nav-eTutors-logo {
      position: fixed;
      z-index: 998;
      background: rgb(248, 248, 248);
      width: 100%;
      height: 23rem;
      box-shadow: 1px 1px 5px rgba(0,0,0,  0.5);
  }
  
  
  img.primary-nav-logo {
      /* position: relative; */
      z-index: 998;
      height: 15rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 2rem;
  }
  
  /* ...............nav section below logo image at 997 z-index begins here */
  
  
  /* nav__primary  */
  nav#nav__primary {
      position: relative;
      z-index: 997;
      top: 24.5rem;
  }



ul.primary-nav-flex-container {
      list-style: none;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.9rem;
  }


 
  
  .primary-nav-flex-container li {
      padding-bottom: 2rem;
      padding-top: 2rem;
      border-bottom: .01px solid #aaa;
      background: #000;
      
  }


  ul.primary-nav-flex-container li ul.primary-nav-about-sub {
      list-style: none;
    position: relative;
    top:2.3rem;
    background: rgb(248, 248, 248);
    display: none;
  }



   ul.primary-nav-flex-container li:hover ul.primary-nav-about-sub {
    display:block;
  }
  
  


   ul.primary-nav-flex-container li ul.primary-nav-about-sub li {
       display: block;
    background: rgb(248, 248, 248);
  }


    ul.primary-nav-flex-container li ul.primary-nav-about-sub li a {
       color: #591013;
  }



     ul.primary-nav-flex-container li ul.primary-nav-about-sub li a:hover {
       color: grey;
  }




  
  ul.primary-nav-flex-container li a {
      text-decoration: none;
      color: #f0f0dd;
      
  }
  
  
  ul.primary-nav-flex-container li a:visited {
      text-decoration: none;
      color: #f0f0dd;
      
  }
  
  
  ul.primary-nav-flex-container li a:hover {
      color: #f0f0dd;
      
  }


  /* mobile only about sub menu arrow icon  */
  .arrow-icon {
      position: relative;
      top: 0;
       color: rgb(248, 244, 244);
      margin-left: 1rem;
  }
  
  
  button.volunteer-mobile {
   margin-top: 1.2rem;
   padding: 1.2rem 2rem;
   margin-left: 50%;
   transform: translatex(-50%);
   background: #591013;
   border: none;
   border-radius: .5rem;
   color: #f0f0dd;
   font-weight: 700;
   font-size: 1.8rem;
  }


   button.volunteer-mobile:hover {
    background: #262626;
    border: none;
  }


    button.volunteer-mobile:active {
    background: grey;
    color: yellow;
    border: none;
  }
  
  button.volunteer {
      display: none;
  }
  
  /* hero image  */
  div.imgHome-hero {
      position: relative;
      top: 24.5rem;
      width: 100%;
      height: 35rem;
      background-image: url("https://images.unsplash.com/photo-1584697964328-b1e7f63dca95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
      background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .imgHome-hero h2 {
      font-family: 'Anton', sans-serif;
      font-size: 2.4rem;
      color: #f0f0dd;
      text-align: center;
      padding-top: 18rem;
      letter-spacing: .5rem;
      transition: .800s ease-in-out;
  }
  
  /* .......................main section begins here */
  
  /* just padded at top to position below hero image */
  .main__section {
      padding-top: 26rem;
      padding-bottom: 8rem;
  }
  
  
  h2.main_page-section-heading {
    font-size: 2.4rem;
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
  }
  
  
  h2.main_page-section-heading-two {
      
  }
  
  
  hr {
      display: none;
  }
  
  
  hr.main_para-hr-bottom {
    display: none;
  }
  
  
  .main_para-home {
      background: #f3f3f3;
      margin-top: 3rem;
      padding: 3rem 2rem 3rem 2rem;
  }
  
  
  h3.main-para-home-heading {
      font-size: 1.8rem;
      padding: 2rem 2rem 1rem 2rem;
     
  }
  
  
  .main_para-home p {
      font-size: 1.6rem;
      padding: 0 2rem 2rem 2rem;
      
  }



 
 .main-sec-icon {
      position: relative;
      z-index: 996;
      top:5.5rem;
      margin-left: 50%;
      transform: translatex(-50%);
      border: .01px solid black;
    background: rgb(255, 255, 255);
      padding: 1.5rem;
      border-radius: 50rem;
      font-size: 4rem;
  }


  
div.background-paper {
    width: 95%;
    height:90%;
    background: #eee;
    border: 2px solid rgb(228, 226, 226);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    border-radius: 2rem;
    padding-bottom: 4rem;
  }
  
/* scaled eureka image hidden */
  img.eureka-corner-image-scaled {
      display: none;
  }

  img.eureka-corner-image {
     width:100%;
     margin-top: 4rem;
  }
  
  .main_images-flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  }
  
  
  
  .main_flex-image-text-wrapper p {
     
      width: 200px;
      font-size:1.5rem;
      margin-left: 1rem;
  }
  
  
  
  .main_img-tutor-network-item {
      margin: 1rem;
  }






  
  /* ........................footer section begins here */
  #footer__section {
      /* height: 40rem; */
      width: 100%;
      padding-top: 2rem;
      background: #262626;
  }
  
  
  img.footer_logo {
      height: 5rem;
      display: none;
  
  }
  
  
  .footer_logo-address-container {
      display: none;
  }
  
  
  h2.footer_quicklinks-heading {
      color: #f0f0dd;
      font-size: 2rem;
      width: 100%;
      text-align: center;
      margin-top: 3rem;
  }
  
  
  
  ul.footer-quicklinks-flex-container{
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      /* margin-left: auto;
      margin-right: auto; */
      text-align: center;
    
  }
  
  
  
  ul.footer-quicklinks-flex-container {
      list-style: none;
  
  }
  
  
  ul.footer-quicklinks-flex-container li {
      font-size: 1.4rem;
      padding: 1rem 2rem 1rem 2rem;
  
  }
  
  
  
  ul.footer-quicklinks-flex-container li a {
      color: #f0f0dd;
      text-decoration: none;
  
  }


    ul.footer-quicklinks-flex-container li a:hover {
      color: grey;
  
  }
  
  ul li.quick-links-flex-item {
      margin-left: auto;
      margin-right: auto;
      flex: 0 1 50%;
  }
  
  
  
  h2.footer-followUs-heading {
      font-size: 2rem;
      color: #f0f0dd;
      width: 100%;
      text-align: center;
      padding-top: 3rem;
      margin-top: 0;
  
  }
  
  
  .footer_social-media {
      height: 8rem;
      width: 100%;
      text-align: center;
  }
  
  
  
  .soc-icons {
      color: #f0f0dd;
      font-size: 2.5rem;
      padding: 4.5rem 2rem;
  }
  

   .footer_social-media .soc-icons:hover {
      color: #f0f0dd;
      color: grey;
  }
  
  
  
  div.footer_copyright-container {
      padding: 2.5rem;
      text-align: center;
      font-size: 1.4rem;
      color: #f0f0dd;
  }