/* tablet screen media queries..........................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section  */


@media screen and (min-width: 720px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;

}

h1.header-covid-heading {
    font-size: 1.5rem;
    text-align: center;
    background:#591013;
}

/* .hide-covid {
    
    display: block;
} */

/* x covid icon */
/* h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;
} */


div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 3.8%;
    width: 8rem;
    height: 7rem;
    box-shadow: none;
    background: none;
}


img.primary-nav-logo {
    height: 9rem;
    padding-top: 1.2rem;
    margin-left: 2rem;
    transition: .100s ease-in-out;
}

/* ...............nav section below logo image at 997 z-index begins here
fixed position change for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background: #f8f9f1;
    width: 100%;
    height: 10rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}



ul.primary-nav-about-sub {
    display: none;
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    height: 10rem;
}


ul.primary-nav-flex-container li {
    padding-right: 1rem;
    font-size: 1.7rem;
    border: none;
    background: none;
    transition: .100s ease-in-out;
}



ul.primary-nav-flex-container li a:link {
    line-height: 10rem;
    display: inline-block;
    font-weight: bold;
    color: #591013;
    
}



ul.primary-nav-flex-container li a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #5c1114;
    
}


ul.primary-nav-flex-container li a:hover {
    color: gray;
    transition: .300s ease-in-out;
    
}



 .arrow-icon {
    display: none;
  }


/* sub menu hover */

ul.primary-nav-flex-container li:hover ul.primary-nav-about-sub {
    display: block;
    list-style: none;
    position: absolute;
    top: 10rem;
    /* background: rgba(248, 248, 248, 0.774); */
    text-align: center;
    width: 15rem;
    height: 10rem;
    opacity: .99;
    box-shadow: 1px 2px .5rem rgba(0, 0, 0, .2);
    
    
}



ul.primary-nav-about-sub li.primary-sub {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

ul.primary-nav-about-sub li.primary-sub a {
    line-height: 1rem;
    padding: 0;
    border-bottom: .1px solid rgba(0,0,0,.1);
    
}

ul.primary-nav-about-sub li.primary-sub a:link {
    text-decoration: none;
    color: #591013;
    font-size: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    display: block;
    line-height: 1rem;
    padding-top:2rem;
    padding-bottom: 2rem;
    letter-spacing: .1rem;

}

 
ul.primary-nav-about-sub li.primary-sub a:visited {
    text-decoration: none;
    color: #591013;
}


ul.primary-nav-about-sub li.primary-sub:hover {
    display: block;
    color: 262626;
    background:#591013;
    transition: .100s ease-in-out;
     
}


ul.primary-nav-about-sub li.primary-sub a:hover {
    display: block;
     background:#591013;
    /* color: rgb(255, 255, 255); */
}

/* sub menu ending */

.home-pageBackground {
    position: absolute;
    top: 158rem;
    right: 0;
    z-index: -1;
    opacity: .2;
    background: url("https://svgshare.com/i/Pr3.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    transform: rotate(-10dg);
    transition: all .500s ease-in-out;
}


.home-pageBackground-main-sec {
    position: absolute;
    top: 0rem;
    z-index: 1;
    opacity: .1;
    background: url("https://svgshare.com/i/Pp4.svg");
    background-position: top right ;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 1rem;
    height: 50%;
    width: 100%;
    transition: all .500s ease-in-out;
}


button.volunteer {
    display: inline-block;
    margin-right: 2rem;
    padding: 1.4rem .5rem;
    background: #591013;
    border: none;
    border-radius: .5rem;
    color: #f0f0dd;
    transition: all .200s ease-in-out;
}



button.volunteer:hover {
    background: #504646;
    color: #f0f0dd;
}




button.volunteer-mobile {
    display: none;

}

/* hero images  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://images.unsplash.com/photo-1584697964358-3e14ca57658b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
}



 .imgHome-hero h2 {
      font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      color: #f0f0dd;
      font-weight: 900;
      text-align: center;
      padding-top: 15rem;
      padding-left:2rem;
      padding-right: 2rem;
      letter-spacing: .5rem;
      transition: .800s ease-in-out;
  }


  .imgHome-hero-contact-jg {
          position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://images.pexels.com/photos/4031818/pexels-photo-4031818.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 0;
      transition: .500s ease-in-out;
  }


  
   div.imgHome-hero-contact-jg h2.contact-h2-jg {
      font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      text-align: center;
      color: #262626;
      font-weight: 900;
      padding: 12rem 15rem 2rem 15rem;
      letter-spacing: 1rem;
      transition: .800s ease-in-out;
      border-radius: 1rem;
      height: 45rem;
      background: radial-gradient( rgba(250, 255, 220, .5), transparent);
  }



  .imgHome-hero-tutoring-services-jg {
    position: relative;
    z-index: 995;
    top: 0rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://cdn-wordpress-info.futurelearn.com/info/wp-content/uploads/FL155_Remote_Teaching_Blog_Image.jpg");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
  }


  .imgHome-hero-tutoring-services-jg h2 {
      font-family: 'Anton', sans-serif;
      font-size: 2.6rem;
      color: #262626;
      font-weight: 900;
      padding: 4rem 4rem 2rem 4rem;
      letter-spacing: .1rem;
      text-align: center;
      transition: .800s ease-in-out;
  }



   

   



/* .......................main section begins here
changes made
main section padding top */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}





hr.game-learning-bottom-hr-jg {
    display: none;
}




.home-game-learning-conn-container-jg {
    margin-top: 8rem;
}


.game-learning-ben-flex-container-jg {
    display: none;

}

  

.home-game-learn-title-jg {
    font-size: 2.4rem;
    margin-top: 2rem;
    padding: 0 2rem 1rem 2rem;
    text-align: left;
  }


  .home-game-learning-para {
    font-size: 1.6rem;
    padding: 2rem 2rem 6rem 2rem;
    line-height: 4rem;
    text-align: justify;
  }




.main__section-contact-jg {
    padding-top: 12rem;
    padding-bottom: 4rem;
}

h2.main_page-section-heading {
    font-size: 3.2rem;
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
    transition:  .600s ease-in-out;
  }


h2.main_page-section-heading-contact-jg {
      font-size: 3.4rem;
    padding: 2rem 2rem 0 2rem;
    margin-top: 0;
    text-align: center;
  }

h3.contactPage-h3-jg {
      text-align: center;
      font-weight: normal;
      font-size: 1.6rem;
  }

  hr {
    display: block;
    position: relative;
    top: 2.5rem;
}


hr.main_para-hr-bottom {
    display: block;
    position: relative;
    top: .5rem;
}



.main_para-home {
    background: #eaeaea;
    padding:2rem;
}


.girl-heading-text-jg {
    display: none;
}



.girl-heading-text-sub-para-jg {
    display: none;
}


.girl-text-jg {
    position: relative;
    border: none;
    background: white;
    border-radius: 1rem;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 2rem;

    /* box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2); */
}


.contact-woman-jg {
    display: block;
    position: absolute;
    top: 85.3rem;
    right: 2rem;
    height: 25rem;
}




.main_images-flex-container {
    position: relative;
    z-index: 1;
     border: 3px solid #d6d6d6;
    background: #eee;
    border-radius: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin-top: -1rem;
}

.main_images-flex-container::before {
     position: absolute;
     top: 0;
     content: " ";
     background:#262626;
     height: 100%;
     width: .1px;
     opacity: .1;
}



img.home-brain-jg {
    position: absolute;
    z-index: 2;
    display: block;
    margin-left: 50%;
    transform: translatex(-50%);
    height: 10rem;
    background: ghostwhite;
    border-radius: 50%;
}


div.background-paper {
    width: 85%;
    height:90%;
    background: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    padding-top: 0;
    border-radius: 2rem;
    border: none;
  }



    img.eureka-corner-image-scaled {
    position: relative;
    z-index: 2;
    display: block;
     width:100%;
     margin-top: 0;
     padding-top: 3rem;
  }
  

  img.eureka-corner-image {
      display: none;
  }



  h3.eTutots-game-subTitle-jg {
      text-align: center;
      padding-bottom: 2.5rem;
      padding-top: 1rem;
      font-size: 1.8rem;
      color: #000000;
      font-weight: normal;
  }



  .main_flex-image-text-wrapper {
    width: 50%;
  }
  

/* tutoring section................ */

/* hidded mobile titles */

.tutoring-top-title-jg{
    display:none;
}

  .tutoring-services-h3 {
      display: none;
  }


  /* div.tutPage-topBanner-jg {
      height: 20rem;
      width: 100%;
      background:#000000;
  }

  img.twentyYear-svg-jg {
    padding-top: 8rem;
      display: block;
      height: 25rem;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
  } */

  div.tutPage-image-bg-jg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 14rem;
    opacity: .1;
    height: 100%;
    width: 100%;
    background: url("https://svgshare.com/i/Pr3.svg");
    background-repeat: no-repeat;
  }


.main__section-tutoring-services-jg {
      padding-top: 0rem;
      padding-bottom: 8rem;
      transition: all .500s ease-in-out;
  }


h2.tutoring-top-title-scaled-jg {
    display: block;
    width: 100%;
    font-size: 3rem;
    padding: 10rem 2rem 5rem 0;
    text-align: center;
    letter-spacing: .4rem;
    transition: all .500s ease-in-out;
}



  .tut-serv-topTitle-para-image-flexContainer-jg {
  display: flex;
  flex-direction: row-reverse;
}


  .tut-serv-Title-para-item-container-jg {
      background:white;
      
  }


img.tutoringPage-image-jg {
        height: 25rem;
        width: 38rem;
        display: block;
        padding-right: 2rem;
        margin-left: auto;
        margin-right: auto;
        transition: all .500s ease-in-out;
  }



.tutoring-services-h3-scaled-jg {
      display: block;
        font-size: 1.9rem;
        padding-top: 0;
        padding-left: 0rem;
        padding-right: 2rem;
        text-align: right;
        transition: all .500s ease-in-out;
        color: #3c4358;
  }

  .tutoring-services-para-jg {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 1rem 2rem 1rem 0rem;
  text-align: right;
}



.tutPage-but-jg {
    display: none;
}

.tut-but-container-jg {
    position: relative;
    
}

button.tutPage-but-scaled-jg {
    position: absolute;
    right: 2rem;
    display: block;
    font-size: 1.6rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
    border-radius: 1rem;
    background: #353a40;
    font-weight: bold;
    color: white;
    width: 25rem;
}


button.tutPage-but-scaled-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}

button.tutPage-but-scaled-jg:active {
    background: grey;
    transition: .300s ease-in-out;
    color: white;
}



.tutoring-services-text-wrapper {
    width: 27rem;
    margin:2rem 0;
    transition: all .200s ease-in-out;
  }



.tutPage-find-tut-sec-container-jg {
    margin-top: 5rem;
    padding: 0 0 2rem 0;

  }


  p.choose-tutor-para-jg {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: center;
}


.servItem-jg {
  padding: 0 1rem 0 2rem;
}



/* volunteer section.................. */

.imgHome-hero-volunteer-jg {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: url("https://media.nbcbayarea.com/2019/09/GettyImages-1138999558.jpg?crop=0px%2C199px%2C6000px%2C3375px&resize=1200%2C675");
    background-color: gray;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: .500s ease-in-out;
  }


.imgHome-hero-volunteer-jg h2 {
     font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      color: rgb(32, 32, 32);
      font-weight: 900;
      padding: 15rem 4rem 2rem 4rem;
      letter-spacing: 1rem;
      text-align: center;
      transition: .800s ease-in-out;
      height: 45rem;
      background: radial-gradient( rgba(250, 255, 220, .8), transparent);
}


.vol-but-sec-bgGraphic-container-jg {
    position: relative;
    height: 15rem;
}

.volunteer-pageBackground {
    position: absolute;
    top:12rem;
    left: 0;
    z-index: -1;
    opacity: .2;
    background: url("https://svgshare.com/i/PzE.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 60%;
    transition: all .500s ease-in-out;
}


.main__volunteer-heading-jg {
  font-size: 3rem;
    padding: 5rem 2rem .1rem 2rem;
    text-align: center;
}


h2.volunteer-top-title-jg {
  color: #591013;
  padding: 10rem 2rem .5rem 2rem;
  text-align: center;
  transition: all .500s ease-in-out;
}


.volunteerPage-h3-jg {
  padding: 4rem 2rem 1rem 2rem;
}

p.volunteerPage-para-jg {
  font-size: 1.6rem;
  padding: 0 2rem 0 2rem;
  line-height: 3rem;
}


.volPage-hr-jg {
  
display: none;
}


.vol-center-tit-para-secs-container-jg {
    background: ghostwhite;
    margin:2rem;
    padding: 2rem 0;
    box-shadow: 0 0 .5rem rgba(0,0,0, .5);
    border-radius: .5rem;
}


.vol-signUp-subTitle-container-jg  {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
}


p.vol-signUp-subTitle {
    text-align: center;
}


.vol-hr-half-jg {
    display: none;
}


.vol-but-container-top-jg {
  position: relative;
  margin: 1rem 2rem 0 2rem;
  height: 10rem;

}

button.volunteerPage-but-jg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 1.5rem;
    border-radius: 1rem;
     background: #353a40;
     color: white;
     border: .1rem solid white;
     width: 25rem;
     letter-spacing: .2rem;
}


button.volunteerPage-but-jg a {
  color: white;
  text-decoration: none;
}


button.volunteerPage-but-jg:hover {
    background: #591013;
    transition: .300s ease-in-out;
    color: white;
}

button.volunteerPage-but-jg:active {
    background: grey;
    transition: .300s ease-in-out;
    color: white;
}

/* name and email input container */
.volunteer-name-to-email-input-container-jg {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}


.volunteer-contact-input-container-jg {
  display: flex;
  max-width: 65rem;
  margin-left: auto;
  margin-right: auto;
}

label.volunteer-formLabels-jg {
    display: block;
    font-size: 1.6rem;
  padding: 2rem .5rem .5rem 0;
  background:none;
}


.volunteerCheckbox-toBottom-container-jg {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
}

.voluteerPage-formTitle-iAmCurr-jg {
  padding: 4rem 0 0 0;
  font-size: 1.9rem;
  margin-left: auto;
}


.voluteer-form-select-para-jg {
    padding-right: 0;
    padding-left: 0;
    font-size: 1.6rem;
}



h3.vol-textArea-title-jg {
  padding-bottom: 2rem;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
}



div.volunteer-textArea-title-container {
  /* width: 95%; */
  margin-left: 0rem;
}


.volunteerPage-signUp-butToo-jg {
  margin-left: 0;


}

/* volunteer end.............. */

.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;
}



img.footer_logo {
    width: 8rem;
    height: 6rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}


.eTutors-gameTitle-container {
    position: relative;
    background: ghostwhite;
    border-radius: 2rem;
    border-top: .1rem solid #591013;
    border-bottom: .1rem solid #591013;
    padding-bottom: 5rem;
    padding-top: 4rem; 
    margin-top: 6rem; 
    margin-bottom: 8rem;
    transition: all .500s ease-in-out;
}

 .main_page-section-heading-two-jg {
      position: relative;
      display: inline-block;
      z-index: 2;
      left: 50%;
      transform: translatex(-50%);
      font-size: 2.9rem;
      color: #000000;
      padding: 1rem 0 0 0;
      letter-spacing: .5rem;
      background: linear-gradient(to bottom,  ghostwhite, transparent );
      border-radius: 2rem;
      transition: all .500s ease-in-out;
      
  }


  h3.eTutots-game-subTitle-jg {
      color: #000;
    font-size: 2rem;
    padding-top: 0;
    margin-bottom: 0;
  }


.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;

}



.footer_logo-address {
    font-size: 1.2rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 1.5rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}


h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}




.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}



div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}



}



/* laptop screen media queries............................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section */

@media screen and (min-width: 820px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;
    background: gray;
}

h1.header-covid-heading {
    font-size: 1.6rem;
    text-align: center;
}


.hide-covid {
    display: block;
}

/* x covid icon */
h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;
}


    div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 3.8%;
    background: transparent;
    width: 8rem;
    height: 8rem;
    box-shadow: none;
}


img.primary-nav-logo {
    /* position: relative; */
    z-index: 998;
    height: 9rem;
    padding-top: 1rem;
    margin-left: 2rem;
}

/* ...............nav section below logo image at 997 z-index begins here
switched to fixed position for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background:#f8f9f1 ;
    width: 100%;
    box-shadow:;
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    height: 10rem;
}


ul.primary-nav-flex-container li {
    padding-right: 2.1rem;
    font-size: 1.9;
    background: none;
    border: none;
}




ul.primary-nav-flex-container li a:link {
    font-weight: bold;
    color: #591013;
    
}



ul.primary-nav-flex-container li a:visited {
    text-decoration: none;
    color: #591013;
    
}


ul.primary-nav-flex-container li a:hover {
     color: gray;
    
}



button.volunteer {
    display: inline-block;
    margin-right: 3rem;
    padding: 1.5rem 1rem;
    
}

button.volunteer-mobile {
    display: none;

}

/* hero image  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: "#";
    background-color: gray;
    background-position: "#";
    background-size: "#";
    background-repeat: "#";
}



   div.imgHome-hero-contact-jg h2.contact-h2-jg {
      font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      text-align: center;
      color: #262626;
      font-weight: 900;
      padding: 12rem 15rem 2rem 15rem;
      letter-spacing: 1rem;
      transition: .800s ease-in-out;
      border-radius: 1rem;
  }


/* .......................main section begins here */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}


.main_para-home {
    background: #eaeaea;
    padding:2rem;
}


.homeFun-the-role-style-jg {
    display: none;
}


.girl-para-flex-container-jg {
    display: flex;
    height: 35rem;
    padding-top: 15rem;
    margin-bottom: 8rem;
    transition: all .500s ease-in-out;
}

/* .image-container-flex-item-jg {
    position: relative;
    width: 50%;
    height: 20rem;
} */


.computer-girl-jg {
    display: block;
    width:28rem; 
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    transition: all .500s ease-in-out;
}


.computer-girl-background-jg {
    display: block;
    position: absolute;
    z-index: -1;
    top: 8rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 51rem;
}



.image-container-flex-item-jg {
    padding: 2rem;
}


.home-girl-para-container-flex-item-jg {
    width: 100%;
    padding-right: 2rem;
    margin-left: 1rem;
}

.test-jg {
    background: white;
    border-radius: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 2rem;

}

.girl-text-jg {
    border: none;
    line-height: 3.5rem;
    text-align: justify;
    font-size: 1.6rem;
    padding-top: 1rem;
    width: 100%;
    background: white;
}


.girl-heading-text-jg {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    letter-spacing: .1rem;
    padding: 0 2rem 0 2rem;
    margin-top: 1rem;
    text-align: left;
}


.girl-heading-text-sub-para-jg {
    display: block;
    font-size: 1.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    text-align: left;
}

.girl-image-but-flex-container-jg {
    width: 28rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
     transition: all .500s ease-in-out;

}


.girl-but-jg {
    width: 50%;
    /* padding: 1rem; */
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
   
}


.learn-more-jg {
    background: #591013;
    
}


.learn-more-jg a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    line-height: 1.5rem;
}



.girl-but-jg:hover {
   background: #262626;
}




.volunteer-jg {
    background: rgb(43, 9, 107);
}

.volunteer-jg a {
    display: block;
    line-height: 1.5rem;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}



.home-girl-computer-container-jg {
    display: none;
}

 .game-learning-ben-flex-container-jg {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}



.game-learning-benefits-icons {
    
    position: relative;
    height: 20rem;
    width: 100%;
    /* background: ghostwhite; */
}

img.game-learning-icons-jg {
    margin-left: 50%;
    transform: translatex(-50%);
    height: 10rem;

}

.game-learning-benefits-icons::after {
    position: absolute;
    right:0;
    content: " ";
    height: 20rem;
    width: .1rem;
    background: teal;
    margin-left: 5rem;
    opacity: .1;
}

div.end-jg::after {
    position: absolute;
    left:50%;
    content: " ";
    height: 20rem;
    width: .1rem;
    background:white;
}


.game-learning-subTitles {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
    
}



.homeFun-the-role-style-jg {
    display: none;
}
.homeFun-the-role-para-jg{
    display: none;
}


.home-game-learn-title-jg {
    font-size: 3rem;
    margin-top: 1rem;
    padding: 0 2rem 5rem 2rem;
    text-align: center;
    transition: all .500s ease-in-out;
  }


  
.home-game-learning-conn-container-jg {
    margin-top: 40rem;
}



hr.gameBased-Learning-sec-jg{
    display: block;
    position: relative;
    top: 0;
    margin-bottom: 3rem;
}

hr.game-learning-bottom-hr-jg {
    display: block;
}


.home-pageBackground {
    position: absolute;
    top: 150rem;
    right: 0;
    z-index: -1;
    opacity: .2;
    background: url("https://svgshare.com/i/Pr3.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height:80%;
    width: 100%;
}

.home-pageBackground-main-sec {
    position: absolute;
    top: 0rem;
    z-index: 1;
    opacity: .1;
    background: url("https://svgshare.com/i/Pp4.svg");
    background-position: top left ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
}



.contact-woman-jg {
    display: block;
    position: absolute;
    top: 75.8rem;
    right: 0;
    height: 35rem;
}


.main_kid-on-floor-image {
    display: block;
    position:absolute;
    z-index: 996;
    top: 118rem;
    height: 25rem;
    margin-left: 30%;
}


.main_images-flex-container {
    border: 3px solid #d6d6d6;
    background: #eee;
    border-radius: 1rem;
     margin-top: -1.5rem;
     padding-bottom: 0;
}


div.background-paper {
    width: 85%;
    height:90%;
    background: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 6rem;
  }



    img.eureka-corner-image-scaled {
    display: block;
     width:100%;
  }
  

  img.eureka-corner-image {
      display: none;
  }



 .main_page-section-heading-two-jg {
      text-align: center;
      font-size: 3.0rem;
      color: #000000;
      padding: 0 3rem .5rem 3rem;
  }



   h3.eTutots-game-subTitle-jg {
    font-size: 2rem;
  }





/* tutoring page................... */

.main__section-tutoring-services-jg {
      padding-top: 5rem;
      padding-bottom: 8rem;
      transition: all .500s ease-in-out;
  }

   .tutoring-services-text-wrapper {
    width: 40rem;
    margin:2rem 0;
    /* transition: all .100s ease-in-out; */
  }


h2.tutoring-top-title-scaled-jg {
    display: block;
    width: 100%;
    font-size: 3rem;
    padding: 10rem 2rem 5rem 0;
    text-align: center;
    letter-spacing: .4rem;
}


/* volunteer section */

.main__volunteer-heading-jg {
  font-size: 3rem;
    padding: 10rem 2rem .1rem 2rem;
    text-align: center;
}


.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;


}



img.footer_logo {
    width: 8rem;
    height: 6rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}



.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;
}



.footer_logo-address {
    font-size: 1.2rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}


h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}




.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}



div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}
}




/* desktop to larger screen media queries.....................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section */

@media screen and (min-width: 1025px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;
    background: gray;
}

h1.header-covid-heading {
    font-size: 1.5rem;
    text-align: center;
}


h1#header__heading-covid--fixed .header-covid-heading .hide-covid {
    display: block;
}


/* x covid icon */
h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;
}

div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 3.5%;
    background: transparent;
    width: 10rem;
    height: 10rem;
    box-shadow: none;
}


img.primary-nav-logo {
    height: 9rem;
    margin-top: 0.1rem;
    margin-left: 5rem;
    
}

/* ...............nav section below logo image at 997 z-index begins here
fixed position change for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background: #f8f9f1;
    width: 100%;
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 10rem;
    width:85%;
    margin-left: 15%;
}


ul.primary-nav-flex-container li {
    padding-right: 3rem;
    font-size: 1.75rem;
}



ul.primary-nav-flex-container li a:link {
    font-weight: bold;
    color: #591013;
    
}



ul.primary-nav-flex-container li a:visited {
    text-decoration: none;
    color: #591013;
    
}


ul.primary-nav-flex-container li a:hover {
     color: gray;
    
}


/* needs hover affect and styles according to mockup */
button.volunteer {
    display: inline-block;
    margin-right: 5rem;
    padding: 1.5rem 1rem;
}

button.volunteer-mobile {
    display: none;

}

/* hero image  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: "#";
    background-color: gray;
    background-position: "#";
    background-size: "#";
    background-repeat: "#";
}


 .imgHome-hero h2 {
      font-family: 'Anton', sans-serif;
      font-size: 3.6rem;
      color: #f0f0dd;
      font-weight: 900;
      text-align: center;
      padding-top: 18rem;
      letter-spacing: .5rem;
      transition: .800s ease-in-out;
  }



  div.imgHome-hero-contact-jg h2.contact-h2-jg {
      font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      text-align: center;
      color: #262626;
      font-weight: 900;
      padding: 12rem 15rem 2rem 15rem;
      letter-spacing: 1rem;
      transition: .800s ease-in-out;
      border-radius: 1rem;
  }


  .imgHome-hero-tutoring-services-jg h2 {
       font-family: 'Anton', sans-serif;
      font-size: 3.4rem;
      color: #262626;
      font-weight: 900;
      padding: 4rem 4rem 2rem 4rem;
      letter-spacing: .1rem;
      text-align: center;
      transition: .800s ease-in-out;
  }

/* .......................main section begins here */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}


.main_para-home {
    background: #eaeaea;
    padding:2rem;
}



.computer-girl-jg {
    display: block;
    width:45rem; 
    height: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.girl-image-but-flex-container-jg {
    width: 45rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;

}

.girl-para-flex-container-jg {
    display: flex;
    height: 35rem;
    margin-bottom: 15rem;
}


.girl-text-jg {
    position: relative;
    background: white;
    /* border-top: .1px solid rgb(43, 9, 107); */
    margin-top: 2rem;
    /* border-bottom: 1px solid rgb(43, 9, 107); */
    padding: 1rem 4rem 1rem 4rem;
}


/* .girl-text-jg::after {
    content: "";
    position: absolute;
    background: rgb(43, 9, 107);
    height: .1rem;
    width: 10rem;
    right: 0;
    margin-top: 4rem;
    

} */

.home-game-learning-conn-container-jg {
    
    margin-top: 40rem;
}



.home-game-learn-title-jg {
    font-size: 3rem;
    margin-top: 1rem;
    padding: 0 2rem 5rem 2rem;
    text-align: center;
    transition: all .500s ease-in-out;
  }


  .game-learning-ben-flex-container-jg {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}



.game-learning-benefits-icons {
    
    position: relative;
    height: 20rem;
    width: 100%;
    /* background: ghostwhite; */
}



.game-learning-benefits-icons::after {
    position: absolute;
    right:0;
    content: " ";
    height: 20rem;
    width: .1rem;
    background: teal;
    margin-left: 5rem;
    opacity: .3;
}

div.end-jg::after {
    position: absolute;
    left:50%;
    content: " ";
    height: 20rem;
    width: .1rem;
    background:white;
}


.game-learning-subTitles {
    position: absolute;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
    
}


hr.game-learning-bottom-hr-jg {
    margin-top: 2rem;
}

.home-pageBackground {
    position: absolute;
    top: 140rem;
    right: 0;
    z-index: -1;
    opacity: .2;
    background: url("https://svgshare.com/i/Pr3.svg");
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
}


.home-pageBackground-main-sec {
    position: absolute;
    top: 0rem;
    z-index: 1;
    opacity: .1;
    background: url("https://svgshare.com/i/Pp4.svg");
    background-position: top left ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
}


.home-graph {
    background: yellow;
    width: 65rem;
    height: 19.5rem;
}
.contact-woman-jg {
    display: block;
    position: absolute;
    top: 70.8rem;
    right: 7rem;
    height: 40rem;
}



.main_kid-on-floor-image {
    display: block;
    position:absolute;
    z-index: 996;
    top: 98rem;
    height: 30rem;
    margin-left: 40%;
}


.main_images-flex-container {
    border: 3px solid #d6d6d6;
    background: #eee;
    border-radius: 1rem;
     margin-top: -2rem
}



div.background-paper {
    width: 85%;
    height:90%;
    background: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
  }



  .main_page-section-heading-two-jg {
      text-align: center;
      font-size: 3.2rem;
      color: #000000;
      padding: 0 3rem .5rem 3rem;
      letter-spacing: .3rem;
  }



    h3.eTutots-game-subTitle-jg {
    font-size: 2.2rem;
  }

    img.eureka-corner-image-scaled {
    display: block;
     width:100%;
  }
  

  img.eureka-corner-image {
      display: none;
  }

/* tutoring page.......................... */

.tutoring-services-h3-scaled-jg {
      display: block;
        font-size: 1.9rem;
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 2rem;
        text-align: right;
        transition: all .500s ease-in-out;
  }

  img.tutoringPage-image-jg {
        height: 30rem;
        width: 40rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all .500s ease-in-out;
  }


   .tutoring-services-text-wrapper {
    width: 50.3rem;
    margin:2rem 0;
    transition: all .200s ease-in-out;
  }


.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;
}



img.footer_logo {
    width: 10rem;
    height: 8rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}



.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;
}



.footer_logo-address {
    font-size: 1.25rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}



h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}


.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}


div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}


/*-------------Resources Page Queries ----------*/

    div.img-resources-hero {
    top: 10.5rem;
    }
}