/* tablet screen media queries..........................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section  */


@media screen and (min-width: 720px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;

}

h1.header-covid-heading {
    font-size: 1.5rem;
    text-align: center;
    background:#591013;
}


.hide-covid {
    
    display: block;
}

/* x covid icon */
/* h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;

} */


div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 3.8%;
    background: transparent;
    width: 100%;
    height: 8rem;
    box-shadow: none;
}


img.primary-nav-logo {
    height: 10rem;
    padding-top: 1.2rem;
    margin-left: 2rem;
}

/* ...............nav section below logo image at 997 z-index begins here
fixed position change for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background: #f8f9f1;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    height: 10rem;
}


ul.primary-nav-flex-container li {
    padding-right: 1rem;
    font-size: 1.35rem;
    border: none;
    background: none;
}



ul.primary-nav-flex-container li a {
    text-decoration: none;
    color: #591013;
    font-weight: bold;
    
}



ul.primary-nav-flex-container li a:visited {
    text-decoration: none;
    color: #591013;
    
}


button.volunteer-mobile {
    display: none;
}

/* hero image  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: "#";
    background-color: gray;
    background-position: "#";
    background-size: "#";
    background-repeat: "#";
}

/* .......................main section begins here
changes made
main section padding top */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}


hr {
    display: block;
    position: relative;
    top: 2.5rem;
}


hr.main_para-hr-bottom {
    display: block;
    position: relative;
    top: .5rem;
}



.main_para-home {
    background: #eaeaea;
    padding:2rem;
}


.main_images-flex-container {
    border: none;
}



.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;
}



img.footer_logo {
    width: 8rem;
    height: 6rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}



.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;

}



.footer_logo-address {
    font-size: 1.2rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 1.5rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}


h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}




.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}



div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}

}



/* laptop screen media queries............................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section */

@media screen and (min-width: 820px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;
    background: gray;
}

h1.header-covid-heading {
    font-size: 1.6rem;
    text-align: center;
}


.hide-covid {
    display: block;
}

/* x covid icon */
h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;
}


    div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 3.8%;
    background: transparent;
    width: 100%;
    height: 8rem;
    box-shadow: none;
}


img.primary-nav-logo {
    /* position: relative; */
    z-index: 998;
    height: 10rem;
    padding-top: 1rem;
    margin-left: 2rem;
}

/* ...............nav section below logo image at 997 z-index begins here
switched to fixed position for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background:#f8f9f1 ;
    width: 100%;
    box-shadow:;
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; 
    height: 10rem;
}


ul.primary-nav-flex-container li {
    padding-right: 2.1rem;
    font-size: 1.6;
    background: none;
    border: none;
}




button.volunteer {
    display: inline-block;
    margin-right: 3rem;
    padding: 1.5rem 1rem;
    
}

button.volunteer-mobile {
    display: none;

}

/* hero image  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: "#";
    background-color: gray;
    background-position: "#";
    background-size: "#";
    background-repeat: "#";
}

/* .......................main section begins here */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}


.main_para-home {
    background: #eaeaea;
    padding:2rem;
}


.main_images-flex-container {
    border: none;
}



.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;
}



img.footer_logo {
    width: 8rem;
    height: 6rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}



.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;
}



.footer_logo-address {
    font-size: 1.2rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}


h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}




.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}



div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}
}




/* desktop to larger screen media queries.....................................
changes made
logo size and position
menu switched to fixed
nav bg height shorter
hero image moved up
padding on the links in primary nav flex container li
right margin on the volunteer button
padding top on the main section */

@media screen and (min-width: 1025px) {

    #header__heading-covid--fixed {
    position: fixed;
    z-index: 999;
    height: 2.5rem;
    width: 100%;
    background: gray;
}

h1.header-covid-heading {
    font-size: 1.5rem;
    text-align: center;
}


h1#header__heading-covid--fixed .header-covid-heading .hide-covid {
    display: block;
}


/* x covid icon */
h1.header-covid-heading .header_close-icon {
    padding-left: 1.2rem;
    color: #f0f0dd;
}

div#primary-nav-eTutors-logo {
    position: fixed;
    z-index: 998;
    top: 2.5%;
    background: transparent;
    width: 100%;
    height: 8rem;
    box-shadow: none;
}


img.primary-nav-logo {
    height: 10rem;
    padding-top: 2rem;
    margin-left: 5rem;
}

/* ...............nav section below logo image at 997 z-index begins here
fixed position change for large screen viewing */


/* nav__primary  */
nav#nav__primary {
    position: fixed;
    z-index: 997;
    top: 2.5rem;
    background: #f8f9f1;
    width: 100%;
}


ul.primary-nav-flex-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 10rem;
    width:85%;
    margin-left: 15%;
}


ul.primary-nav-flex-container li {
    padding-right: 3rem;
    font-size: 1.75rem;
}


ul.primary-nav-flex-container li a {
    /* color: #591013; */
}


/* needs hover affect and styles according to mockup */
button.volunteer {
    display: inline-block;
    margin-right: 5rem;
    padding: 1.5rem 1rem;
}

button.volunteer-mobile {
    display: none;

}

/* hero image  */
div.imgHome-hero {
    position: relative;
    z-index: 995;
    top: 10.5rem;
    width: 100%;
    height: 45rem;
    background-image: "#";
    background-color: gray;
    background-position: "#";
    background-size: "#";
    background-repeat: "#";
}

/* .......................main section begins here */

/* just padded at top to position below hero image */
.main__section {
    padding-top: 16rem;
    padding-bottom: 4rem;
}


.main_para-home {
    background: #eaeaea;
    padding:2rem;
}


.main_images-flex-container {
    border: none;
}


.footer_logo-container {
    position: absolute;
    width: 18%;
    margin-left: 0;
    margin-top: 3.5rem;
}



img.footer_logo {
    width: 8rem;
    height: 6rem;
    display: block;
    /* margin: 2rem 2rem .5rem 2rem; */
    margin-left: auto;
    margin-right: auto;

}



.footer_logo-address-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f0f0dd;
}



.footer_logo-address {
    font-size: 1.25rem;
}



h2.footer_quicklinks-heading {
    color: #f0f0dd;
    font-size: 2.4rem;
    width: 75%;
    text-align: left;
    margin-top: 3rem;
    margin-left: 25%;
}



ul.footer-quicklinks-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 2rem 2rem 0;
    width: 75%;
    margin-left: 25%;
    text-align: left;
  
}


ul.footer-quicklinks-flex-container li {
    font-size: 1.5rem;
    padding: 1rem 2rem 1rem 0rem;
    margin-left: 0;

}



ul li.quick-links-flex-item {
    /* margin-left: auto;
    margin-right: auto; */
    flex:auto;
}



h2.footer-followUs-heading {
    font-size: 2.4rem;
    color: #f0f0dd;
    width: 75%;
    text-align: left;
    padding-top: 3rem;
    margin-top: 0;
    margin-left: 25%;

}



.footer_social-media {
    height: 8rem;
    width: 75%;
    margin-left: 25%;
    text-align: left;
}




.soc-icons {
    color: #f0f0dd;
    font-size: 2.8rem;
    padding: 4.5rem 5rem 4.5rem 0;
}


div.footer_copyright-container {
    width:75%;
    margin-left: 25%;
    padding: 2.5rem 0 2.5rem 0;
    text-align: left;
    font-size: 1.4rem;
    color: #f0f0dd;
}
}